$icon-width:30px;

.sidenav-toggle{
    display: none;
    margin: 8px;
    min-width: $icon-width;
    @media (max-width:800px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    mat-icon{
        font-size: 30px;
        height: $icon-width;
        width: $icon-width;
        line-height: $icon-width;
        color: white;
    }
}

mat-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    //background-color: #1976d2;
    color: white;
    font-weight: 600;
    
  }


.mtp-spacer {
    flex: 1 1 auto;
  }